/* font-family: 'Gochi Hand', cursive;
font-family: 'Recursive', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rock Salt', cursive; */

html {
    height: 100%;
}

body {
    background: url(/media/homepage3.jpg) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family:'Recursive', sans-serif;
}

/* From Bulma */
.icon  {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
    font-family: 'Rock Salt', cursive;
    color: rgb(184, 33, 91);
    text-transform: uppercase;
}
#products-link, #news-link {
    font-family:'Recursive', sans-serif;
    font-size: 20px; 
}
.main-logo-link {
    width: fit-content;
}
.shop-now-button {
    font-family:'Recursive', sans-serif;
    font-size: 30px;
    background-color: white;
    color:rgb(184, 33, 91);
    min-width: 260px;
}
.btn-black {
    background: #000;
    color: white;
}
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
.text-black {
    color: #000 !important;
}
.border-black {
    border: 1pm solin black !important;
}
.bg-black {
    background: #000 !important;
}
.bag-icon, .account-icon {
    color:rgb(184, 33, 91);
}
.bag-text, .account-text {
    font-family: 'Recursive', sans-serif;
    color:black;
    font-weight: bold;
}
#delivery-banner h4 {
    font-family: 'Recursive', sans-serif;
    border-top: solid 2px black;
}
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(228, 226, 226);
    z-index: -1;
}
a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link {
    cursor: pointer;
}
/* Media Queries */
/* larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
/* fixed navbar on medium screens & larger */
@media (min-width: 992px) {
    .fixed-top-desktop-ony {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
    body {
        height: calc(100vh - 116px);
    }
}

