<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{%  url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price (low to high)</a>
                <a href="{%  url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price (high to low)</a>
                <a href="{%  url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{%  url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Golf Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{%  url 'products' %}?category=shoes" class="dropdown-item ">Shoes</a>
                <a href="{%  url 'products' %}?category=clothing" class="dropdown-item">Clothing</a>
                <a href="{%  url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{%  url 'products' %}?category=clothing,shoes,accessories" class="dropdown-item">All Golf Wear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Golf Equiptment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=clubs" class="dropdown-item">Clubs</a>
                <a href="{%  url 'products' %}?category=trolleys" class="dropdown-item ">Trolleys</a>
                <a href="{%  url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{%  url 'products' %}?category=balls_accessories" class="dropdown-item">Balls & Accessories</a>
                <a href="{%  url 'products' %}?category=clubs,trolleys,bags,balls_accessories" class="dropdown-item">All Golf Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="news-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News & Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="news-link">
                <a href="" class="dropdown-item">Womans Golf News</a>
                <a href="" class="dropdown-item ">Reviews</a>
            </div>
        </li>

    </ul>
</div>