<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="refine-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Refine By
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="refine-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{%  url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=clubs" class="dropdown-item">Clubs</a>
                <a href="{%  url 'products' %}?category=trolleys_bags" class="dropdown-item ">Trolleys & Bags</a>
                <a href="{%  url 'products' %}?category=clothing" class="dropdown-item ">Clothing</a>
                <a href="{%  url 'products' %}?category=shoes" class="dropdown-item ">Shoes</a>
                <a href="{%  url 'products' %}?category=balls_accessories" class="dropdown-item">Balls & Accessories</a>
                <a href="{%  url 'products' %}?category=clubs,clothing,trolleys_bags,shoes,balls_accessories" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="brands-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brands-link">
                <a href="" class="dropdown-item">Adidas Golf</a>
                <a href="" class="dropdown-item ">Callaway</a>
                <a href="" class="dropdown-item">PowaKaddy</a>
                <a href="" class="dropdown-item ">TaylorMade</a>
                <a href="" class="dropdown-item">Titleist</a>
                <a href="" class="dropdown-item">Under Armour</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="news-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News & Reviews
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="news-link">
                <a href="" class="dropdown-item">Womans Golf News</a>
                <a href="" class="dropdown-item ">Reviews</a>
            </div>
        </li>

    </ul>
</div>